:host {
  --content-padding: 10px;
}
main {
  display: block;
  position: relative;
}

.main-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.content-container {
  padding: var(--content-padding);
}

main {
  max-width: 1200px;
  margin: 0 auto;
}


.input-valor {
  text-align: right;
}