<h2 mat-dialog-title>Solicitar Transferência</h2>
<mat-dialog-content>
    <form [formGroup]="formTransferencia" novalidate (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
            <mat-label>Origem</mat-label>
            <input matInput placeholder="Origem" formControlName="fromId">
            @if(formTransferencia.get('fromId')?.hasError('required')) {
            <mat-error>Benefício de origem é obrigatório</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Destino</mat-label>
            <textarea matInput placeholder="Destino" formControlName="toId" rows="3"></textarea>
            @if(formTransferencia.get('toId')?.hasError('required')) {
            <mat-error>Benefício de destino é obrigatório</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Valor</mat-label>
            <input matInput placeholder="Valor" type="number" formControlName="valor" required step="0.01">
            @if(formTransferencia.get('valor')?.hasError('required')) {
            <mat-error>Valor é obrigatório</mat-error>
            }
            @if(formTransferencia.get('valor')?.hasError('min')) {
            <mat-error>Valor deve ser maior que zero</mat-error>
            }
        </mat-form-field>
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button matButton (click)="onCancel()">Cancelar</button>
    <button matButton="filled" color="primary" (click)="onSubmit()" [disabled]="!formTransferencia.valid">
    Transferir
    </button>
</mat-dialog-actions>
