container {
      padding: 20px;
    }

.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  justify-content: space-around;
  grid-template-columns: repeat(3, minmax(350px, 350px));
  grid-auto-rows: max-content;
}

.not-found{
  display: grid;
  background: var(--accent-color);
  width: 100%;
  min-width: 400px;
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem 0rem 1rem 0rem;
}

.actions {
      margin: 20px 0;
      display: flex;
      gap: 10px;
    }
    
.ativo {
  color: rgb(49, 61, 49);
  font-weight: bold;
}

.cancelado {
  color: rgb(159, 159, 159);
  font-weight: bold;
}

@media (min-width: 900px) and (max-width: 1200px) {
  .results {
      grid-template-columns: repeat(3, 1fr);
  }
  .not-found{
    min-width: 300px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }
  .not-found{
    min-width: 300px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: 600px) {
  .results {
      grid-template-columns: repeat(auto-fill, minmax(350px, 450px));
  }
  .not-found{
    min-width: 200px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
