apiVersion: app/v1
kind: Deployment
metadata:
  name: app-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-frontend
  template:
    spec:
      containers:
        - name: app-frontend
          image: leoalmeida/app-frontend:{{IMAGE_TAG}}
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "1Gi"
              cpu: "2"
